<template>
  <b-navbar class="c_bg_navigation">
    <template #brand>
      <!--      <b-navbar-item tag="router-link" :to="{ path: '/' }">-->
      <b-navbar-item>
        <img class="logo_brand"
             src="https://www.cyfrowe.pl/images/header/logo_podstawowe_jasne_tlo.png"
             alt="Lightweight UI components for Vue.js based on Bulma"
        >
      </b-navbar-item>
    </template>
    <template #start>

      <b-navbar-item  v-for=" (value, index) of navigations" :href="value.link" :key="index">
        {{ value.name }}
      </b-navbar-item>

    </template>

    <template #end>
      <b-navbar-item tag="div">
        <div class="buttons">
          <a href="./register" class="button btn_basic">
            <strong>Rejestruj</strong>
          </a>
          <a href="./login" class="button is-success btn-red">
            Zaloguj
          </a>
          <a href="./logout" class="button is-success btn-red">
            Wyloguj
          </a>
        </div>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
export default {
  name: "NavBar",
  data() {
    return  {
      navigations: [],
    }
  },
  created() {
    this.getNavigations()
  },

  methods: {
    getNavigations() {
      this.$axios
          .get('http://app.vue.symfony.dk.localhost:8080/api/navigation')
          .then(response => {
            this.navigations = response.data
          })
          .catch(function (error) {
            console.log(error);
          })
    },
  }
}


</script>

<style scoped lang="scss">

.logo_brand {
  filter: invert(1);
}

.btn-red {
  background-color: #ff0000;
  color: white;
}

.c_bg_navigation {
  background-color: #000000;
  border-bottom: 5px solid #2ca02c;
  color: white;
}

::v-deep {
  .navbar-item, .navbar-link {
    color: white;
  }
}
</style>