.buttons {
  .btn_basic {
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #FFFFFF;
    color: #ffffff;
  }

  .btn_basic:hover, .is-hovered {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
  }
}