<template>
  <div class="mt-2">
    <Container>
      <b-loading :is-full-page="isFullPage" v-model="isLoading" :can-cancel="true"></b-loading>
      <panel-name :panelName="'Lista firm'">
        <b-table :data="data" :columns="columns"></b-table>
      </panel-name>
    </Container>
  </div>
</template>

<script>
import Container from "../theme/core/components/Container";
import PanelName from "../theme/core/components/Panel";

export default {
  name: "Companies",
  components: {Container, PanelName},
  data() {
    return {
      data: [],
      isLoading: true,
      isFullPage: true,
      columns: [
        {
          field: 'name',
          label: 'Nazwa firmy',
        },
        {
          field: 'country_short',
          label: 'Kraj',
        },
        {
          field: 'address',
          label: 'Adres',
          centered: true
        },
        {
          field: 'nip',
          label: 'NIP',
        },
        {
          field: 'IBAN',
          label: 'IBAN',
        }
      ]
    }
  },

  created() {
    this.contentFront = 'Lista plików';
    this.getCompanies()
  },

  methods: {
    getCompanies() {
      this.$axios
          .get('http://app.vue.symfony.dk.localhost:8080/api/companies')
          .then(response => {
            this.data = response.data
            this.isLoading = false;
          })
          .catch(function (error) {
            console.log(error);
          })
    },
  }
}
</script>

<style scoped>

</style>