<template>
  <div class="mt-2">
    <Container>
      <b-loading :is-full-page="isFullPage" v-model="isLoading" :can-cancel="true"></b-loading>
      <uploader-files></uploader-files>
      <panel-name :panelName="contentFront">
        <b-table :data="data" :columns="columns"></b-table>
      </panel-name>

      <text-section :content-section="contentFront" section-name="description_front"></text-section>
      <text-section :content-section="content" section-name="description_backend"></text-section>
    </Container>
  </div>
</template>

<script>
import TextSection from "../theme/core/components/TextSection";
import Container from "../theme/core/components/Container";
import UploaderFiles from "../theme/core/components/UploaderFiles";
import PanelName from "../theme/core/components/Panel";

export default {
  name: "Homepage",
  components: {PanelName, UploaderFiles, Container, TextSection},
  props: {
    content: {
      type: String,
      default: ''
    },
  },
  data() {
    return {
      contentFront: '',
      isLoading: true,
      isFullPage: true,
      data: [],
      columns: [
        {
          field: 'id',
          label: 'ID',
          width: '40',
          numeric: true
        },
        {
          field: 'first_name',
          label: 'First Name',
        },
        {
          field: 'last_name',
          label: 'Last Name',
        },
        {
          field: 'date',
          label: 'Date',
          centered: true
        },
        {
          field: 'gender',
          label: 'Gender',
        }
      ]
    }
  },

  created() {
    this.contentFront = 'Lista plików';
    this.getUsers()
  },

  methods: {
    getUsers() {
      this.$axios
          .get('http://app.vue.symfony.dk.localhost:8080/api/users')
          .then(response => {
            this.data = response.data
            this.isLoading = false;
          })
          .catch(function (error) {
            console.log(error);
          })
    },
  }
}
</script>

<style scoped lang="scss">


</style>