<template>
  <div class="mt-2">
      <Container>
        <panel-name :panelName="'Logowanie'">
        <form method="post">
          <div class="alert alert-danger" v-if="error"></div>
          <div class="mb-3" v-if="isLogin"></div>


          <label for="inputUsername">Email</label>
          <input type="email" value="admin@localhost.local" name="email" id="inputUsername" class="input"
                 autocomplete="email" required autofocus>
          <label for="inputPassword">Password</label>
          <input type="password" name="password" id="inputPassword" class="input"
                 autocomplete="current-password" value="cyfrowe123" required>

          <input type="hidden" name="_csrf_token" :value="csrfToken">

          <div class="checkbox mb-3">
            <label class="checkbox">
              <input type="checkbox">
              Remember me
            </label>
          </div>

          <button class="button btn_basic" type="submit">
            Sign in
          </button>
        </form>
        </panel-name>
      </Container>
  </div>
</template>

<script>
import Container from "../theme/core/components/Container";
import PanelName from "../theme/core/components/Panel";

export default {
  name: "Login",
  components: {Container, PanelName},
  props: {
    csrfToken: null,
    isLogin: {
      type: Object
    },
    error: null,
  }
}
</script>

<style scoped>

</style>