{% extends 'base.html.twig' %}

{% block title %}Hello DocumentVueController!{% endblock %}

{% block body %}
   <Container class="mt-2">
      <Modalpage></Modalpage>
   </Container>

{% endblock %}
