<template>
  <article class="panel is-info">
    <p class="panel-heading">
      {{ panelName || ""}}
    </p>
    <div>
     <slot></slot>
    </div>
  </article>
</template>

<script>
export default {
  name: "PanelName",
  props:{
    panelName: ''
  }
}
</script>

<style scoped>

</style>