<template>
  <section :id="sectionName" class="section">
    <h2 class="subtitle">
      {{ contentSection }}
    </h2>
  </section>
</template>

<script>
export default {
  name: "TextSection",
  props: {
    contentSection: '',
    sectionName:'',
    }
}
</script>

<style scoped>

</style>