<template>
  <section class="mb-2">
    <b-field class="file">
      <b-upload v-model="file" expanded>
        <a class="button is-link is-fullwidth">
          <b-icon icon="upload"></b-icon>
          <span>{{ file.name || "Click to upload"}}</span>
        </a>
      </b-upload>
    </b-field>
    <b-field>
      <b-upload v-model="dropFiles" multiple drag-drop expanded>
        <section class="section">
          <div class="content has-text-centered">
            <p>
              <b-icon icon="upload" size="is-large"></b-icon>
            </p>
            <p>{{ file.dropTitle || "Drop your files here or click to upload"}}</p>
          </div>
        </section>
      </b-upload>
    </b-field>

    <div class="tags">
      <span v-for="(file, index) in dropFiles" :key="index" class="tag is-link">
        {{file.name}}
        <button class="delete is-small" type="button" @click="deleteDropFile(index)"></button>
      </span>
    </div>
  </section>
</template>

<script>
export default {
  name: "UploaderFiles",
  data() {
    return {
      file: {
        name: 'Kliknij aby załadować pliki',
        dropTitle: 'Złap i upuść pliki tutaj'
      },
      dropFiles: []
    };
  },
  methods: {
    deleteDropFile(index) {
      this.dropFiles.splice(index, 1);
    }
  }
}
</script>

<style scoped>

</style>